*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.token.selector{color:#333;}
.token.property{color:#333;}
.token.function{ color: #905;}
#codeing{ height: 100vh;
    font-size:14px;
    overflow: hidden;
    }
   
